# fly.toml app configuration file generated for yummi-server-greenbean on 2025-10-23T10:58:45+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'yummi-server-greenbean'
primary_region = 'jnb'

[build]
  dockerfile = "yummi-server/Dockerfile"
  context = "."

[env]
  PORT = '8000'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'requests'
    hard_limit = 100
    soft_limit = 50

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
